.contents {
  padding: 40px 0 16px;
}

.itemWrapper {
  padding: 5px;
}

.content {
  display: flex;
  align-items: center;
  gap: 5px;

  svg {
    flex-shrink: 0;
  }
}

.content:hover {
  cursor: pointer;

  h3,
  h4 {
    text-decoration: underline;
  }
}

.unit {
  /* font-weight: bold; */
  margin: 0;
}

.lesson {
  margin: 0;
  /* font-weight: normal; */
}

.title {
  color: var(--primary);
}
