.link,
.headerLink {
  text-decoration: none;
  color: inherit;
}

.headerLink {
  --underline-color: var(--primary);
  padding: var(--spacer-xs) var(--spacer-s);
  background: no-repeat 0 100%;
  background-image: linear-gradient(
    var(--underline-color),
    var(--underline-color)
  );
  background-size: 0% 2px;
  transition: background-size 0.3s ease;
  transition-delay: 0.2s;
}

.headerLink:hover {
  background-size: 100% 2px;
}
