.titleWrapper {
  display: flex;
  align-items: flex-start;
  column-gap: 2em;
  padding-right: 5%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  text-decoration: none;
  text-align: left;
  font-size: 1.15em;
  height: 100%;
  color: var(--primary);
}

.column {
  text-align: left;
}

.row {
  font-size: var(--font-size-m);
  padding: var(--spacer-s) var(--spacer-xs);
  border-bottom: 1px solid black;
}

.table {
  width: 100%;
  min-width: 500px;
  border-spacing: 0px !important;
}

.table tr {
  display: grid;
}

.even {
  background-color: #f8f8f8;
}

.tags {
  font-size: 0.7em;
  display: flex;
  gap: var(--spacer-xxs);
  flex-direction: row;
  flex-wrap: wrap;
  text-align: right;
  color: grey;
}

.table tr td {
  padding-right: var(--spacer-m);
  word-wrap: break-word;
  font-size: var(--font-size-s);
  word-break: break-word;
}

@media (min-width: 768px) {
  .titleWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
    flex-wrap: wrap;
    gap: 0;

    & a {
      width: 48%;
    }

    & span {
      width: 48%;
      justify-content: flex-end;
    }
  }
}

@media (min-width: 1024px) {
  .row {
    padding: var(--spacer-m);
  }
}
