.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacer-l);
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  gap: var(--spacer-m);
  margin-top: var(--spacer-l);
}

.dragLabel {
  font-size: var(--font-size-m);
}
