.wrapper {
  flex-wrap: nowrap;
  gap: var(--spacer-xs);
}

.label {
  font-size: var(--font-size-xs);
  color: var(--dark3);
}

.avatar:hover {
  outline-offset: 2px;
  outline-width: 2px;
  outline-color: black;
  outline-style: solid;
}