.itemWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 10fr 1fr;
  column-gap: var(--spacer-xs);
  padding: var(--spacer-xxs) var(--spacer-xs) var(--spacer-xxs) 0;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacer-xxs);
  width: fit-content;
}

.item {
  cursor: pointer;
  font-size: var(--font-size-s);
  white-space: nowrap;
  overflow: hidden;
}

.label {
  font-size: var(--font-size-label-s);
}
