.groupSection {
  margin-top: var(--spacer-s);
  display: flex;
  flex-direction: row;
  gap: var(--spacer-xs);
  align-items: flex-start;
}

.groupList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacer-s);
}

@media screen and (max-width: 768px) {
  .groupSection {
    justify-content: center;
    flex-wrap: wrap;
  }

  .groupList {
    justify-content: center;
    padding: 0 25px;
  }
}
