.itemWrapper {
  display: grid;
  grid-template-columns: 10fr 1fr;
  column-gap: var(--spacer-s);
  padding: var(--spacer-xs);
}

.item {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  font-size: var(--font-size-m);
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacer-xxs);
  user-select: none;
  width: fit-content;
}
