.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  /* gap: 8px; */
  border-color: rgb(204, 206, 209);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-left-style: solid;
  border-left-width: 0.8px;
  border-right-style: solid;
  border-right-width: 0.8px;
  border-top-style: solid;
  border-top-width: 0.8px;
}

.toolbar_group {
  display: flex;
  flex-direction: row;
}

.toolbar_group button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content {
  /* padding: 0px 5px; */

}

.content:focus {
  outline-color: red;
  outline: auto;
  outline-width: 5px;
}

.upload_image:hover {
  cursor: pointer;
}

.toolbar_divider {
  margin: 0px 5px;
}

.headings_group_separate {
  display: flex;
}

.headings_group_collapsed {
  display: none;
}

.align_group_separate {
  display: flex;
}

.align_group_collapsed {
  display: none;
}

.insert_group_separate {
  display: flex;
}

.insert_group_collapsed {
  display: none;
}

@media (width <=800px) {
  .insert_group_separate {
    display: none;
  }

  .insert_group_collapsed {
    display: flex;
  }
}

@media (width <=900px) {
  .align_group_separate {
    display: none;
  }

  .align_group_collapsed {
    display: flex;
  }
}

@media (width <=1000px) {
  .headings_group_separate {
    display: none;
  }

  .headings_group_collapsed {
    display: flex;
  }
}