.color_picker_wrapper {
  position: relative;
  display: flex;
}

.color_picker_modal_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  position: absolute;
  z-index: 5;
  top: 20px;
  background-color: var(--mantine-color-body);
  border-radius: var(--paper-radius);
  box-shadow: var(--mb-shadow, var(--mantine-shadow-xl));
}