.main {
  display: flex;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #00000008;
}

.contentWrapper {
  width: min(calc(3.5 * calc(18.75rem * var(--mantine-scale))), 100%);
  padding-top: var(--app-shell-header-offset);
  padding-bottom: var(--app-shell-padding);
  background-color: white;
  box-shadow: 0px 0px 11px 3px #0000001f;
}

.content {
  padding-bottom: var(--app-shell-header-height);
}
