.list {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: 5fr 2fr 1fr;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}