.itemWrapper {
  padding: var(--spacer-xs) 0;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 10fr 1fr;
}

.actions {
  width: 10%;
  display: flex;
  align-items: flex-end;
  margin-right: var(--spacer-xs);
}

.item {
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  white-space: nowrap;
}
