.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-s);
  margin-bottom: var(--spacer-l);
}

.attemptInfo {
  display: flex;
  flex-direction: row;
  gap: var(--spacer-m);
}

.attemptInfo div {
  border-radius: 30px;
}

.ratingInfo {
  gap: var(--spacer-m);
  display: flex;
  flex-direction: row;
}

.ratingInfo div {
  border-radius: 30px;
}

.value {
  color: var(--primary);
}

@media screen and (max-width: 768px) {
  .wrapper {
    align-items: center;
  }
}
