.pageWrapper {
  background: url("/media/code.jpg") no-repeat center center fixed;
  background-size: cover;
}

.wrapper {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  gap: var(--spacer-l);
  padding: var(--spacer-s);
}

.logoWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacer-xs);
}

.contentWrapper {
  width: 100%;
  max-width: 600px;
  background-color: #fffffff3;
  /* min-width: 30%; */
  display: flex;
  flex-direction: column;
  gap: var(--spacer-l);
  padding: var(--spacer-m);
  border-radius: var(--spacer-xxs);
}

.title {
  font-size: var(--font-size-xxl);
}

@media (min-width: 425px) {
  .contentWrapper {
    padding: var(--spacer-l);
  }
}

@media (min-width: 600px) {
  .contentWrapper {
    background-color: #fffffff3;
    /* min-width: 30%; */
    display: flex;
    flex-direction: column;
    gap: var(--spacer-l);
    padding: var(--spacer-xl);
    border-radius: var(--spacer-xxs);
  }
}
