.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  color: var(--primary);
}

.info {
  margin-bottom: var(--spacer-m);
  font-size: var(--font-size-l);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--spacer-xs);
}

.wrapper {
  margin: 0;
}

.table {
  min-width: 0 !important;
}

.place {
  min-width: 40px;
}

.login {
  min-width: 150px;
}

.shortname {
}

.score {
  /* min-width: 80px; */
}

@media (min-width: 768px) {
  .wrapper {
    width: 80vw;
    margin: var(--spacer-s) 10vw 10vh 10vw;
  }
}
