.wrapper {
  margin: var(--spacer-s) var(--spacer-m) var(--spacer-m)
    var(--spacer-huge);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacer-m);
}

.link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacer-s);
}

.link:hover {
  color: var(--primary);
}

.main {
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-xs);
}

.origin {
  display: flex;
  flex-direction: row;
  gap: var(--spacer-xxs);
}

.capitanWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-s);
}

.capitanLabel {
  font-size: var(--font-size-m);
  color: var(--primary);
}

.participantsWrapper {
}

.participantsList {
  margin-top: var(--spacer-s);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: var(--spacer-s);
  row-gap: var(--spacer-m);
  /* display: flex;
  flex-direction: row;
  column-gap: var(--spacer-l);
  row-gap: var(--spacer-l);
  align-items: flex-start;
  flex-wrap: wrap; */
}

.participantsLabel {
  font-size: var(--font-size-m);
  color: var(--primary);
}
