.ProseMirror {
  border-color: transparent;
  border: none;
  overflow-y: visible;
  max-height: none;
  outline: none;
}

.ProseMirror:focus {
  outline: none;
}

.outline-tiptap {
  padding: 8px;
  max-height: 400px;
  overflow-y: auto;
  border-color: rgb(204, 206, 209);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-style: solid;
  border-bottom-width: 0.8px;
  border-left-style: solid;
  border-left-width: 0.8px;
  border-right-style: solid;
  border-right-width: 0.8px;
  border-top-style: solid;
  border-top-width: 0.8px;
}

/* font-size settings */
.ProseMirror {
  h1 {
    font-size: calc(1.2 * var(--mantine-h1-font-size));
  }

  h2 {
    font-size: calc(1.2 * var(--mantine-h2-font-size));
  }

  h3 {
    font-size: calc(1.2 * var(--mantine-h3-font-size));
  }

  h4 {
    font-size: calc(1.2 * var(--mantine-h4-font-size));
  }

  p {
    font-size: calc(1.2 * var(--mantine-font-size-md));
  }

  p:has(span.latex) {
    padding-top: var(--table-scroll-height);
    overflow-x: auto;
    overflow-y: hidden;
  }

  code {
    font-size: 1rem;
  }

  .tiptap-math {
    font-size: 1.5rem;
  }
}

.ProseMirror img {
  margin-bottom: 0px;
}

.ProseMirror code {
  padding: 0px;
}

.tiptap :first-child {
  margin-top: 0;
}

.tiptap pre {
  /* background: rgba(0, 0, 0, 0.073); */
  background-color: rgba(236, 236, 236);
  border-radius: 0.5rem;
  /* box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.2); */
  font-family: "JetBrainsMono", monospace;
  margin: 1.5rem 0;
  padding: 0.75rem 1rem;
  max-height: 420px;
}

.tiptap pre code {
  background: none;
  color: inherit;
  padding: 0;
  white-space: pre;
}

.tiptap pre .hljs-comment,
.tiptap pre .hljs-quote {
  color: #616161;
}

.tiptap pre .hljs-variable,
.tiptap pre .hljs-template-variable,
.tiptap pre .hljs-attribute,
.tiptap pre .hljs-tag,
.tiptap pre .hljs-regexp,
.tiptap pre .hljs-link,
.tiptap pre .hljs-name,
.tiptap pre .hljs-selector-id,
.tiptap pre .hljs-selector-class {
  color: #811c3b;
}

.tiptap pre .hljs-number,
.tiptap pre .hljs-meta,
.tiptap pre .hljs-built_in,
.tiptap pre .hljs-builtin-name,
.tiptap pre .hljs-literal,
.tiptap pre .hljs-type,
.tiptap pre .hljs-params {
  color: #3a87a7;
}

.tiptap pre .hljs-string,
.tiptap pre .hljs-symbol,
.tiptap pre .hljs-bullet {
  color: #a21726;
}

.tiptap pre .hljs-title,
.tiptap pre .hljs-section {
  color: #756226;
}

.tiptap pre .hljs-keyword,
.tiptap pre .hljs-selector-tag {
  color: #a900dc;
}

.tiptap pre .hljs-emphasis {
  font-style: italic;
}

.tiptap pre .hljs-strong {
  font-weight: 700;
}

.warning {
  --sl-color-asides-text-accent: hsl(41, 80%, 25%);
  --sl-color-asides-border: hsl(41, 90%, 60%);
  background-color: hsl(41, 90%, 88%);
}

.tip {
  --sl-color-asides-text-accent: hsl(281, 90%, 30%);
  --sl-color-asides-border: hsl(281, 90%, 60%);
  background-color: hsl(281, 80%, 90%);
}

.remark {
  --sl-color-asides-text-accent: hsl(234, 80%, 30%);
  --sl-color-asides-border: hsl(234, 90%, 60%);
  background-color: hsl(234, 88%, 90%);
}

.danger {
  --sl-color-asides-text-accent: hsl(339, 80%, 30%);
  --sl-color-asides-border: hsl(339, 90%, 60%);
  background-color: hsl(339, 80%, 90%);
}

.starlight-aside {
  padding: 1rem;
  border-inline-start: 0.25rem solid var(--sl-color-asides-border);
  color: var(--sl-color-white);
}

.starlight-aside__icon {
  font-size: 1.333em;
  width: 1em;
  height: 1em;
  line-height: var(--sl-line-height-headings);
  color: var(--sl-color-asides-text-accent);
}

.starlight-aside__title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: var(--sl-text-h5);
  font-weight: 600;
  line-height: var(--sl-line-height-headings);
  color: var(--sl-color-asides-text-accent);
}

.starlight-aside__title-wrapper {
  width: 100%;
  overflow-x: hidden;
}

.starlight-aside__content {
  margin-top: 0.5rem;
}

.callout_wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media (min-width: 1024px) {
  .tiptap pre {
    max-height: none;
  }
}
